<section class="section section-heading">
    <div class="container">
        <div class="content">
            <h5><svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-folder"></use>
            </svg><%= page.category %></h5>
        </div>
    </div>
</section>
<%- partial('index', { page }) %>