<section class="section section-heading">
    <div class="container">
        <div class="content">
            <h5><svg class="icon" aria-hidden="true" style="margin-right: 3px;">
                <use xlink:href="#icon-Bookmark"></use>
                </svg><%= page.tag %></h5>
        </div>
    </div>
</section>
<%- partial('index', { page }) %>